@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-bold;

    
  }
  h2 {
    @apply text-xl;
    @apply font-bold
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
  .group h1 {
    @apply border-2 border-black border-b-gray-500; 
    @apply py-5
  }

  .line{
    @apply border-t border-transparent block w-full h-0 my-4 text-xs px-3

  }




  

}

@tailwind components;

@tailwind utilities;


body {
  background-color: black;
}

.group:hover h1{
  color: var(--hover-color, #3b82f6);
  transition: color 0.3s ease-in-out;
}

.codeEditor:hover button {
  opacity: 1;
  transition: opacity 0.2s;
}

.codeEditor button {
  opacity: 0;
  transition: opacity 0.2s;
}